config.env
config.env.bak
dynamic.env
fileid.env
credentials.json
token.pickle
authorized.txt
*netrc
*log.txt
data*
venv
.idea/*
!.idea/runConfigurations
accounts/*
downloads/*
download/*
*auth_token.txt
*.pyc
Pipfile.lock
