[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
psutil = "*"
appdirs = "*"
python-telegram-bot = "<14.0,>=13.0"
google-api-python-client = "<2.0.0,>=1.12.8"
google-auth-httplib2 = "<0.1.0,>=0.0.3"
google-auth-oauthlib = "<0.10.0,>=0.4.1"
aria2p = "<0.15.0,>=0.9.0"
python-dotenv = ">=0.10"
tenacity = ">=6.0.0"
python-magic = "*"
beautifulsoup4 = "<4.8.10,>=4.8.2"
pyrogram = "<1.2.0,>=1.1.13"
TgCrypto = "<2.0.0,>=1.2.2"
youtube-dl = "*"
lxml = "*"
telegraph = "*"

[dev-packages]
build = "*"
twine = "*"

[requires]
python_version = "3.8"
